
<div class="sidebar-sticky" data-sidebar-sticky-options='{
    "topSpacing": 120,
    "minWidth": 991
  }'>
    <div class="sidebar-sticky-inner">
      <div class="card">
        <div class="card-body" *ngIf="user_lc">
          <h5 class="card-title mb-1">{{user_lc.nombres + ' ' + user_lc.apellidos}}</h5>
          <p class="card-text text-muted mb-lg-0">{{user_lc.email}}</p>
          <a href="#account-menu" class="btn btn-primary btn-block d-lg-none" data-toggle="collapse">Account Menu</a>
        </div>
        <div id="account-menu" class="collapse d-lg-block">
          <div class="list-group list-group-flush border-top">
            <a  [routerLink]="['cuenta/perfil']" class="list-group-item list-group-item-action d-flex align-items-center">
              <i class="cxi-profile font-size-lg mr-2"></i>
              <span>Mi perfil</span>
            </a>
          </div>
        </div>
      </div>
    </div>
</div>