<app-sidebar></app-sidebar>
<div class="border-bottom pt-5 mt-2 mb-5">
    <h1 class="mt-2 mt-md-4 mb-3 pt-5">Clientes</h1>
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
      <p class="text-muted">Este módulo lista todos los clientes de la tienda.</p>
      
    </div>
  </div>
<form #updateForm="ngForm" (ngSubmit)="actualizar(updateForm)" >
    <div class="card box-shadow-sm">
          <div class="card-header">
              <h5 style="margin-bottom: 0px;">Actualizar cliente</h5>
          </div>
          <div class="card-body" *ngIf="cliente != undefined">
              
                <div class="row">
                  <div class="col-md-4 form-group">
                    <label for="validationCustom01" class="form-label">Nombres</label>
                    <input class="form-control" type="text" placeholder="Nombres completos" name="nombres" [(ngModel)]="cliente.nombres"  required>
                  </div>
                  <div class="col-md-4 form-group">
                    <label for="validationCustom01" class="form-label">Apellidos</label>
                    <input class="form-control" type="text" placeholder="Apellidos completos" name="apellidos" [(ngModel)]="cliente.apellidos" required>
                  </div>
                  <div class="col-md-4 form-group">
                    <label for="validationCustom01" class="form-label">Correo electrónico</label>
                    <input class="form-control" type="email" placeholder="Correo electrónico" name="email" [(ngModel)]="cliente.email" required>
                  </div>

                  <div class="col-md-4 form-group">
                    <label for="validationCustom01" class="form-label">Telefono</label>
                    <input class="form-control" type="text" placeholder="Telefono" name="telefono" [(ngModel)]="cliente.telefono" required>
                  </div>
                  <div class="col-md-4 form-group">
                    <label for="validationCustom01" class="form-label">Fecha nacimiento</label>
                    <input class="form-control" type="date" required name="f_nacimiento" [(ngModel)]="cliente.f_nacimiento">
                  </div>
                  <div class="col-md-4 form-group">
                    <label for="validationCustom01" class="form-label">DNI</label>
                    <input class="form-control" type="number" placeholder="DNI" required name="dni" [(ngModel)]="cliente.dni">
                  </div>

                  <div class="col-md-4">
                    <label for="validationCustom01" class="form-label">Genero</label>
                    <select class="form-control custom-select"  name="genero" [(ngModel)]="cliente.genero"  required>
                      <option value="" disabled selected >Seleccionar</option>
                      <option value="Masculino" >Masculino</option>
                      <option value="Femenino">Femenino</option>
                    </select>
                  </div>
                </div>
              
          </div>
          <div class="card-body" *ngIf="cliente == undefined" >
            <h3 class="text-center" >No se encontro el registro</h3>
          </div>
          <div class="card-footer">
              <button class="btn btn-primary mr-3 type='submit' ">Actualizar cliente</button>
              <a  [routerLink]="['/panel/clientes']" class="btn btn-warning">Regresar</a>
          </div>
</div>   
</form>
